.stats1{
    margin:0rem 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex: 1 1 0%;
    display: flex;
    border-radius: 10px;
    /* background-color: red; */
    padding: 0.5rem 3rem;
    transition: 1sec;
    text-transform: uppercase;
    font-size: 1.5em;
    /* border: 0.5px solid white; */
    box-shadow: 0 0 6px white;
}

.stats1:hover{
    /* background:#27005D; */
    /* letter-spacing: 0.25rem; */
    box-shadow: 0 0 35px #8ECDDD
}

.stats1:before{
    content: " ";
    inset: 2px;
    /* position: relative; */
    background: #27282c;
}